@import './reset.css';
@import './typography.css';
@import './form.css';
@import './buttons.css';
@import './lists.css';

/* color palette from <https://github.com/vuejs/theme> */
:root {
    /* Light Theme */
    --background-color: #ffffff;
    --background-secondary: #f4f4f4;
    --text-color: #333333;
    --text-muted: #7d7d7d;
    --highlight-color: #dcb83a;
    --highlight-color-selected: #b3942e;
    --primary-color: #4a90e2;
    --border-color: #e0e0e0;
    --color-state-error: #dc3545;

    /* Dark Theme */
    --background-color-dark: #000000;
    --background-secondary-dark: #121212;
    --text-color-dark: #e0e0e0;
    --text-muted-dark: #a0a0a0;
    --primary-color-dark: #1e90ff;
    --border-color-dark: #2c2c2c;

    /* Shared */
    --font-family: 'Inter', sans-serif;
    --font-family-heading: 'Merriweather', serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;

    --transition-duration: 0.4s;
}

/* Semantic Variables */
:root {
    --color-background: var(--background-color);
    --color-background-secondary: var(--background-secondary-color);
    --color-text: var(--text-color);
    --color-text-muted: var(--text-muted);
    --color-highlight: var(--highlight-color);
    --color-border: var(--border-color);
    --color-button-background: var(--primary-color);
    --color-button-text: var(--background-color);

    /* Shared */
    --section-gap: 10rem;
}

@media (prefers-color-scheme: dark) {
    /* Override Semantic Variables for Dark Theme */
    :root {
        --color-background: var(--background-color-dark);
        --color-background-secondary: var(--background-secondary-color-dark);
        --color-text: var(--text-color-dark);
        --color-text-muted: var(--text-muted-dark);
        --color-border: var(--border-color-dark);
        --color-button-background: var(--primary-color-dark);
        --color-button-text: var(--background-color-dark);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    margin: 0;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    transition:
        filter var(--transition-duration) ease,
        border-color var(--transition-duration) ease;
    border-bottom: 1px solid transparent;

    &:hover {
        border-color: var(--color-highlight);
        filter: brightness(90%);
    }
}

img,
video,
canvas {
    max-width: 100%;
}
