@import './fonts.css';

body {
    font-family: var(--font-family);
    line-height: 1.6;

    font-size: var(--font-size-base);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.4;
}

h1 {
    font-size: 2rem;
}

h2,
legend {
    font-size: clamp(1.5rem, 4.5vw, 2rem);
    color: var(--color-highlight);
}

h3 {
    font-size: clamp(1.25rem, 3.5vw, 1.5rem);
    font-weight: 600;
}

h4 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 500;
    letter-spacing: 0.5px;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-muted);
}

h6 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p,
li,
blockquote {
    line-height: 1.6;
}

small {
    font-size: 0.875rem;
    color: var(--color-text-muted);
}
